@font-face {
    font-family: Malibu;
    src: url(resources/fonts/Malibu/malibu-1.ttf);
}

@font-face {
    font-family: Cormorant_Garamond;
    src: url(resources/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Cormorant_Garamond;
    src: url(resources/fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Cormorant_Garamond;
    src: url(resources/fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Amiri;
    src: url(resources/fonts/Amiri/Amiri-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Amiri;
    src: url(resources/fonts/Amiri/Amiri-Bold.ttf);
    font-weight: bold;
}

/* width */
::-webkit-scrollbar {
    width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(2, 241, 285, 0)
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999599;
    border-radius: 1vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #59606C;
}

html { scroll-behavior: smooth; }

body {
    background: #E9E9F4;
    font-family: Cormorant_Garamond;
    font-weight: 400;
    color: #331243;
    margin: 0;
    padding: 14vh 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown {
    margin: 3vh 0 4vh 0;
}

.content {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0%;
    margin: 0;
}

.content li {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 5.5vw;
    padding: 0% 1vw;
}

.intro {
    display: flex;
    flex-direction: column;
    min-height: max-content;
    justify-content: space-between;
}

#maha, #amp {
    font-family: Malibu;
}

#marwan, #maha {
    color: #331243;
    line-height: 100%;
    margin: 0;
    text-shadow: 0.3vw 0.5vh 15px #33124389;
}

#date, #amp {
    color: #758EB7;
    text-shadow: 0.3vw 0.5vh 15px #758eb789;

}

#maha {
    font-size: 10vw;
    padding: 0% 2vw;
}

#date {
    font-size: 7vw;
    margin: 0;
}

#amp {
    font-size: 18vw;
    line-height: 100%;
    margin: 0;
    padding: 0% 4vw;
}

#marwan {
    font-size: 10vw;
    text-transform: uppercase;
    letter-spacing: 1.3vw;
}

.maha_date, .bottom .marwan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.maha_date {
    margin: 0% 20vw 0% 10vw;
}

.bottom .marwan {
    margin-top: 2vw;
    align-items: center;
}

.nav_links ul li {
    list-style-type: none;
    font-weight: bold;
    font-size: 2.5vw;
    padding: 0% 1vw;
}

.nav_links ul {
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color:#758EB7;
    transition: color 0.5s;
}

.bottom {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
}

.text {
    width: 70%;
}

.left_flower, .right_flower {
    width: 13%;
    display: flex;
}

.left_flower img, .right_flower img {
    width: 100%;
}

.left_flower img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.hadeeth {
    background-color: #758EB7;
    box-shadow: 0.3vw 0.5vh 15px #33124389;
    display: flex;
    flex-direction: column;
    padding: 5vh 15vw;
}

.hadeeth .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1vw 0%;
    /* align-items: center; */
    text-align: left;
}

.arabic {
    font-family: Amiri;
    font-weight: 400;
    text-align: right;
}

.hadeeth .container h2 {
    color: #331243;
    font-size: 2.75vw;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 1.25vh;
}

.hadeeth .container p {
    font-weight: 500;
    font-size: 2vw;
    color: #E9E9F4;
}

.hadeeth .container span {
    font-size: 1.75vw;
    color: #E9E9F4;
    font-weight: 400;
}

#narrator {
    padding-top: 1.25vh;
    margin-bottom: 0;
    padding-bottom: 1.5vh;
}

.reception_date {
    padding-top: 8vh;
    font-weight: 600;
    font-size: 3.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.venue {
    display: flex;
    flex-direction: row;
    padding: 0 15vw;
    justify-content: space-between;
}

.venue h2 {
    font-family: Cormorant_Garamond;
    font-weight: 600;
    color: #331243;
    font-size: 3.5vw;
    margin: 1vw 0;
    /* text-align: center; */

}

.venue .container {
    display: flex;
    flex-direction: column;
    color: #331243;
    justify-content: space-between;
    width: 43%;
    padding: 1vw 3vw;
    margin: 0.5vw 0.5vw;
    background-color: #758eb78f;
    border-radius: 0.2vw;
}


.venue .container p {
    font-size: 2.2vw;
    font-weight: 500;
}

.container_rules {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1vw;
    padding: 8vh 15vw;
    padding-top: 0;
}

.container_rules h2 {
    font-size: 3vw;
    font-family: Cormorant_Garamond;
    font-weight: 600;
    margin-bottom: 1vw;
}

.container_rules ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1vw;
}

.container_rules ul li {
    font-size: 2vw;
    padding: 0.5vw 0;
    list-style-type: circle;
}

.container_rules ul li {
    font-weight: 500;
}

.rsvp {
    background-color: #758EB7;
    box-shadow: 0.3vw 0.5vh 15px #33124389;
    display: flex;
    flex-direction: column;
    padding: 5vh 15vw;
    align-items: center;
}

.rsvp p {
    font-size: 3.15vw;
    font-family: Cormorant_Garamond;
    font-weight: 600;
    text-align: center;
}

.rsvp button {
    font-family: Cormorant_Garamond;
    font-size: 2vw;
    font-weight: 600;
    letter-spacing: 0.2vw;
    background-color: #331243;
    border: #331243;
    padding: 4vh 8vw;
    border-radius: 0.2vw;
    color: #E9E9F4;
    width: fit-content;
    margin-right: 2vw;
    margin-bottom: 6vh;
}

.rsvp button:hover {
    background-color:#33124389;
    transition: background-color 0.8s;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #331243;
    color: #E9E9F4;
    text-transform: uppercase;
    padding: 0.5vw 0;
    font-weight: 500;
}

.no_show {
    display: none;
}

a {
    font-weight: 600;
}

.bold {
    font-weight: 600;
}